body {
    
}

.item {
    border: 1px solid black;
    display: flex;
    flex-direction: column;

}

button {
    background-color: gray;
    color: white;
    border-radius: 10px;
    width: 400px;
    margin: 0 auto;
}
img {
    height: 400px;
    width: 400px;
    margin: 0 auto;
}