body {
    margin: 0;
    font-family: sans-serif;
}

header {
    background-color: limegreen;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
}

.content {
    margin-top: 100px;
}
#checkout {
    margin: 0;
}

.item {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

button {
    background-color: gray;
    color: white;
    border-radius: 10px;
    width: 400px;
    margin: 0 auto;
}

button:hover {
    background-color: blue;
    color: limegreen;
}

img {
    height: 400px;
    width: 400px;
    margin: 0 auto;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.subtotal {
    font-size: 20px;
}

.is-red {
    color: red;
}

.is-blue {
    color: blue;
}

#place-order {
    width: auto;
}

.hidden {
    display: none;
}

@media screen and (min-width: 420px) {
    .content {
        display: flex;
        flex-wrap: wrap;
    }

    form {
        border: 1px solid black;
    }
}